{
    "jsc": {
      "parser": {
        "syntax": "typescript",
        "tsx": false,
        "dynamicImport": true,
        "decorators": true
      },
      "transform": {
        "legacyDecorator": true,
        "decoratorMetadata": true
      },
      "target": "es2018",
      "externalHelpers": false,
      "keepClassNames": true,
      "loose": false,
      "minify": {
        "compress": false,
        "mangle": false
      },
      "baseUrl": "src",
      "paths": {
        "@/*": ["*"],
        "@config": ["config"],
        "@database": ["database/*"],
        "@utils": ["utils/*"],
        "@componenets": ["components/*"],
        "@users": ["componenets/users/*"],
        "@products": ["componenets/product/*"]
      }
    },
    "module": {
      "type": "commonjs"
    }
  }